@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-image: url('../../Content/skillfinder.png');background-color:#755CFF;color:white; background-repeat: no-repeat; ">
   
        <h1>Skill finder</h1>
    <ul class="list-unstyled">
        <li><a href="#">@Html.ActionLink("Search skills", "Index", "Profile")</a></li>
        <li><a href="#">Browse and explore skills</a></li>
        <li><a href="#">Search people</a></li>
        <li><a href="#">Browse people</a></li>
        <li><a href="#">Create your profile</a></li>
    </ul>
</div>
<div class="col-md-12">
    <h2>How it works</h2>
    <p>Users can create a profile listing their skills. Other people who need these skills can search and browse for them.</p>
</div>


    <!-- Example row of columns -->
<!--
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    -->
   
