

<div class="row">
<div class="col-md-12">
    <div ng-app="find" ng-view></div>
</div>
</div>


@section scripts {
<script src="~/Scripts/d3/d3.js"></script>
<script src="~/Scripts/app/find.js"></script>
}