
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Edit my profile</h2>
        <p><strong>Name: </strong>{{editProfile.data.User.Name}}</p>

        <p><strong>OU: </strong>{{editProfile.data.OU.Name}}</p>
        <p><strong>Skills</strong></p>
        <skills skill-list="editProfile.skills"></skills>
        <button class="btn btn-primary" ng-click="editProfile.update()">Update</button>
        <button class="btn btn-cancel" ng-click="editProfile.cancel()">Cancel</button>
    </div>
</div>