<h2>Edit profile</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form novalidate class="form-horizontal" name="profileForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="editProfile.data.User.Name" required>
            </div>
            <ous ou="editProfile.data.Ou.Name"></ous>
            <h4>My skills</h4>
            <skills skill-list="editProfile.data.Skills"></skills>
            <button class="btn btn-primary" ng-click="editProfile.update(profileForm)" ng-disabled="profileForm.$invalid || editProfile.skills.length == 0">Save</button>
        </form>
    </div>
</div>


