
<form ng-submit="profiles.searchSkills()">
    <div class="input-group">
        <input type="text" autocomplete="off" ng-model="profiles.skill" id="skill"
               uib-typeahead="address for address in profiles.getLocation($viewValue)"
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"
               typeahead-min-length=4
               class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="profiles.searchSkills()">Search</button>
        </span>
    </div>
</form>
<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
<div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
</div>
<div ng-repeat="result in profiles.searchResults">
    <p>{{result.User.Name}} - {{result.OU.Name}}<br/>
    </p>
</div>