<div class="form-group">
    <label for="ou">Department</label>
    <input type="text" autocomplete="off" ng-model="ou" id="ou"
           uib-typeahead="address for address in getOu($viewValue)"
           typeahead-loading="loadingOus"
           typeahead-no-results="noResults"
           typeahead-min-length=3
           class="form-control">
    <div class="sf-loading">
        <i ng-show="loadingOus" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
    </div>
</div>